/*
Theme Name: AFFINGER Child
Template: affinger
Description: AFFINGER6 対応
Version: 20210719
*/

/*media Queries スマートフォンとタブレットサイズ（959px以下）で適応したいCSS - スマホ・タブレット
---------------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 959px) {


	/*-- ここまで --*/
}
	
/*media Queries タブレットサイズ（600px～959px）のみで適応したいCSS -タブレットのみ
---------------------------------------------------------------------------------------------------*/
@media only screen and (min-width: 600px) and (max-width: 959px) {


	/*-- ここまで --*/
}	
	
/*media Queries タブレット（600px）以上で適応したいCSS -タブレット・PC
---------------------------------------------------------------------------------------------------*/
@media only screen and (min-width: 600px) {


	/*-- ここまで --*/
}

/*media Queries PCサイズ（960px）以上で適応したいCSS - PCのみ
---------------------------------------------------------------------------------------------------*/
@media print, screen and (min-width: 960px) {


	/*-- ここまで --*/
}

/*media Queries スマホサイズ（599px）以下で適応したいCSS - スマホのみ
---------------------------------------------------------------------------------------------------*/
@media print, screen and (max-width: 599px) {


	/*-- ここまで --*/
}
/*目次機能実装（20240623）*/
#origin_toc_container {
    margin-bottom: 10px;
    border-radius: 3px;
    background-color: #f2f2f2;
}

#origin_toc_container .toc_title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 5px 0;
    background-color: #242c31;
    color: #fff;
    font-weight: 400;
    font-size: 1em;
}
#origin_toc_container .toc_title::before {
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-right: 5px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M8 4H21V6H8V4ZM3 3.5H6V6.5H3V3.5ZM3 10.5H6V13.5H3V10.5ZM3 17.5H6V20.5H3V17.5ZM8 11H21V13H8V11ZM8 18H21V20H8V18Z' fill='%23fff'%3E%3C/path%3E%3C/svg%3E");
    content: '';
}

#origin_toc_container .toc_list{
    margin: 0;
    overflow: hidden;
}

#origin_toc_container > .toc_list {
    padding: 0.5em 1em 0.7em 3em;
}

#origin_toc_container > .toc_list ol{
	padding: 0;
	margin-left: 1em;
}

#origin_toc_container .toc_list .toc_h2{
	margin-top: 5px;
    padding-left: 1.1em;
	padding: 3px 0 0 0;
    font-weight: 500;
	font-size: 0.9em;
}

#origin_toc_container .toc_list .toc_h3 {
	list-style-type: circle!important;
    margin-left: 15px;
	margin-top: 5px;
    font-weight: 400;
    font-size: .7em;
}

.toc_list a {
    text-decoration: underline;
}

.toc_list a:hover {
    text-decoration: underline;
}
/*目次実装ここまで*/
@media print, screen and (max-width: 959px) {
	  #headbox-bg #headbox {
        padding-top: 0px !important;
    }
	  #s-navi dt.trigger .acordion_button{
        display:none;
    }
    #headbox {
        padding: 0px;
    }
	  .s-navi-right header #st-mobile-logo{
					padding-left: 0px;
			}
}

.descr.sitenametop{
	display: none!important;
}

/*商品ランキングcss（20251109）*/
.delete_colums{
    flex-direction: row!important;
     flex-wrap: nowrap!important;
    overflow-x: auto;
}
.noshrink_colums {
    max-width: 25vh;
    flex-shrink: 0;
}
.wp-block-columns::-webkit-scrollbar {
    /* スクロールバー全体の幅/高さを0にする */
    display: none;
    /* または */
    /* width: 0; */
    /* height: 0; */
}